/* Variables */
/* Shadows for elevation */
.shadow-2 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.shadow-4 {
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.shadow-6 {
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.shadow-8 {
  box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.shadow-16 {
  box-shadow: 0px 16px 32px 4px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.shadow-24 {
  box-shadow: 0px 24px 48px 6px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
/* Button styling */
.btn:focus,
.btn:active:focus {
  outline: none;
}
.btn {
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.btn:hover:not(:disabled),
.btn:active:not(:disabled),
.btn:active:hover:not(:disabled),
.btn:active:focus:not(:disabled) {
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.btn:hover:disabled,
.btn:active:disabled,
.btn:active:hover:disabled,
.btn:active:focus:disabled {
  background-color: yellow;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:hover:disabled {
  background-color: #f00;
  border: none;
  color: #fff !important;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:hover,
.btn-secondary:active:focus,
.btn-secondary:hover:disabled {
  background-color: #000;
  border: none;
  color: #fff !important;
}
.btn-secondary.invert,
.btn-secondary:hover.invert,
.btn-secondary:active.invert,
.btn-secondary:focus.invert,
.btn-secondary:active:hover.invert,
.btn-secondary:active:focus.invert,
.btn-secondary:hover:disabled.invert {
  background-color: #fff;
  color: #000 !important;
}
.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:hover:disabled {
  background-color: #05c;
  border: none;
  color: #fff !important;
}
/* Input styling */
input.form-control,
input.form-control:active,
input.form-control:focus {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}
input.form-control.txt-icon,
input.form-control:active.txt-icon,
input.form-control:focus.txt-icon {
  padding-left: 24px;
}
input.form-control.txt-label,
input.form-control:active.txt-label,
input.form-control:focus.txt-label {
  padding-left: 90px;
}
input.form-control.valid,
input.form-control:active.valid,
input.form-control:focus.valid {
  border-bottom-color: #00ff00;
}
input.form-control.invalid,
input.form-control:active.invalid,
input.form-control:focus.invalid {
  border-bottom-color: #ff0000;
}
input.form-control:focus {
  border-bottom: 1px solid white;
}
select.form-control,
select.form-control:active,
select.form-control:focus {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}
select.form-control option,
select.form-control:active option,
select.form-control:focus option {
  color: black;
}
select.form-control:focus {
  border-bottom: 1px solid white;
}
/* Utilities */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-size {
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  height: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
.right {
  float: right;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center-items {
  align-items: center;
}
.flex-center-content {
  justify-content: center;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
.hidden {
  display: none;
}
/* TEXT COLOR AND TRANSFORM */
.yellow-text {
  color: #fead00;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.big-text {
  font-size: 26px;
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.card {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  background-color: transparent;
  padding: 10px;
  margin: .75rem 0;
}
.profilePicture {
  height: 90px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
html,
body,
#divMain,
#divRegionMain {
  width: 100%;
  height: 100%;
  font-family: "Open Sans Condensed";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#divRegionMain {
  background-color: transparent;
}
body {
  overflow: hidden;
  color: white;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/textureBackground.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
#divPromo::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/textureBackground.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
.introDashboard::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/textureBackground.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
#divIntroDashboard::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/textureBackground.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
/* Titles */
h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Control fixes */
.navbar-nav .nav-item + .nav-item {
  margin-left: inherit;
}
#divNavMenuContainer .nav-item {
  display: inherit;
  width: inherit;
  height: inherit;
}
.btn {
  font-weight: bold;
}
a,
a:hover,
a:focus {
  color: white;
  outline: none;
}
p {
  margin-bottom: 0px;
}
hr {
  border-color: white;
  margin: 0px 0px 4px 0px;
}
video {
  object-fit: cover;
}
#searchBar {
  position: absolute;
  left: 60px;
  font-size: 25px;
  display: inherit;
}
#searchBar > div {
  display: none;
  padding-left: 10px;
}
#searchBar > div {
  animation: fadeOut 0.3s;
}
#searchBar > div.visible {
  animation: fadeIn 0.3s;
}
#divRegionMainContainer.searchBarOpen {
  opacity: 0.5;
  animation: backgroundFadeOut 0.3s;
}
#searchContainer {
  box-sizing: content-box;
  background-color: white;
  opacity: 1;
  position: absolute;
  color: black;
  width: 100%;
  max-height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 64px;
  box-shadow: inset 0 7px 9px -5px rgba(0, 0, 0, 0.64);
  animation: resultSearchInvisible 0.3s;
}
#filtersContainer {
  box-sizing: content-box;
  background-color: black;
  opacity: 1;
  position: absolute;
  color: black;
  width: 100%;
  max-height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 64px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0 7px 9px -5px rgba(0, 0, 0, 0.64);
}
#searchContainer.visible {
  display: block;
  animation: resultSearchVisible 0.3s;
}
@keyframes resultSearchVisible {
  0% {
    opacity: 0;
    top: -306px;
  }
  100% {
    opacity: 1;
    top: 64px;
  }
}
@keyframes resultSearchInvisible {
  0% {
    opacity: 1;
    top: 64px;
  }
  100% {
    opacity: 0;
    top: -306px;
  }
}
#searchContainer ul li > div:hover {
  background-color: rgba(127, 127, 127, 0.2);
}
#searchContainerList p:hover {
  cursor: default;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes backgroundFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.selectMovie {
  padding: 10px;
}
.btnAddToWatchList_text_normal {
  display: block;
  text-align: left;
}
.btnAddToWatchList_text_medium {
  margin-top: 1.5%;
}
.btnAddToWatchList_text_small {
  font-size: 13.2px;
}
.btn-primary,
.btn-secondary {
  box-shadow: inset 15px -45px 20px -45px rgba(255, 255, 255, 0.35);
  border-radius: 8px;
}
.btnGlowEffect {
  box-shadow: inset 15px -45px 20px -45px rgba(255, 255, 255, 0.35);
}
.btnWatchList,
.btnModal {
  background-color: #355db3;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff !important;
}
.btnModal {
  max-width: 50px;
  min-height: 40px;
}
.btnWatchList:hover,
.btnModal:hover {
  -moz-box-shadow: inset 0px -42px 0px -33px #495c8c;
  -webkit-box-shadow: inset 0px -42px 0px -33px #495c8c;
  box-shadow: inset 0px -42px 0px -33px #495c8c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4f6190), color-stop(1, #495c8c));
  background: -moz-linear-gradient(top, #4f6190 5%, #495c8c 100%);
  background: -webkit-linear-gradient(top, #4f6190 5%, #495c8c 100%);
  background: -o-linear-gradient(top, #4f6190 5%, #495c8c 100%);
  background: -ms-linear-gradient(top, #4f6190 5%, #495c8c 100%);
  background: linear-gradient(to bottom, #4f6190 5%, #495c8c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f6190', endColorstr='#495c8c', GradientType=0);
  background-color: #4f6190;
}
.btnWatchList:active {
  position: relative;
  top: 1px;
}
.btnWatchList:focus,
.btnModal:focus {
  outline: none;
}
.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #355db3;
  border: none;
  border-color: white;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  left: 20px;
  top: 20px;
  border-radius: 4px;
}
.dropdown:before,
.dropdown:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #ffffff;
  background: #f2f2f2;
  /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important;
  /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #1d2a3a;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
#movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
#series {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
#actors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
.moviesDisplay {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 20px;
  height: 100%;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.actorsDisplay {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 20px;
  height: 100%;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.seriesDisplay {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 20px;
  height: 100%;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.movie-cover {
  height: 245px;
  width: 160px;
}
.actor-cover {
  height: 245px;
  width: 160px;
}
.serie-cover {
  height: 245px;
  width: 160px;
}
.cover-image {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  border-radius: 4px;
}
.affichage-detail {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 3px 5px 0px;
  position: relative;
  background-image: linear-gradient(to right, #f6f6f6, #cfcfcf);
  text-shadow: 1px 1px 2px #A1A1A1;
  color: #0e0e0e;
  border-radius: 4px;
  max-width: 160px;
}
.paragraph-end {
  height: 19px;
  width: 45px;
  background-image: -webkit-linear-gradient(left, rgba(207, 207, 207, 0), #cfcfcf);
  background: linear-gradient(to right, rgba(207, 207, 207, 0), #cfcfcf);
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
}
.affichage-title {
  display: block;
  font-size: 16px;
  line-height: 18px;
  max-height: 36px;
  min-height: 18px;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  max-width: 160px;
}
#divNavbar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
#divNavbar .glyphicon {
  font-size: 32px;
  cursor: pointer;
}
.divChevronIntroFooter {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 64px;
  background-color: black;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.divChevronIntroFooter #chevronIntroFooter {
  top: 14px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.divChevronIntroFooter #chevronIntroFooter:hover {
  cursor: pointer;
}
.divChevronIntroHeader {
  width: 100%;
  height: 64px;
  background-color: black;
  position: fixed;
  display: none;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.divChevronIntroHeader #chevronIntroHeader {
  top: 14px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.divChevronIntroHeader #chevronIntroHeader:hover {
  cursor: pointer;
}
#divSlideMenuLeft {
  width: 320px;
  height: 100%;
  background-color: #111;
  box-shadow: 0px 16px 32px 4px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
#divSlideMenuLeft ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}
#divSlideMenuLeft ul li {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  align-items: center;
}
#divSlideMenuLeft ul li a {
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
#divSlideMenuLeft ul li a.menuText {
  flex-grow: 1;
}
#divSlideMenuLeft ul li a .glyphicon {
  margin-top: 4px;
}
#divSlideMenuLeft ul li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.15);
}
#divRegionMainContainer {
  opacity: 1;
  height: 100%;
  animation: backgroundFadeIn 0.3s;
}
#divRegionMainContainer.headerVisible {
  padding-top: 64px;
}
#divRegionMainContainer #divRegionMain {
  overflow-y: auto;
}
@keyframes backgroundFadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#divPromo {
  width: 100%;
  -webkit-transform: translate(0, 100);
  -moz-transform: translate(0, 100);
  -ms-transform: translate(0, 100);
  -o-transform: translate(0, 100);
  transform: translate(0, 100);
  transition: transform 0.3s ease-in;
}
#divPromo .divStepIndicator {
  font-size: 32px;
  color: red;
  text-shadow: 0px 0px 4px black;
}
#divPromo .divStepIndicator .spanStepIndicator:not(:first-child) {
  color: white;
}
#loader_page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1040;
}
.pageTitle h6 {
  text-align: center;
  margin: 5px 0px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.pageTitle h6 span {
  color: rgba(255, 255, 255, 0.5);
}
#searchbar input[type="text"] {
  background: url('../img/dark-search-icon.png') no-repeat 10px 6px #444;
  border: 0 none;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #777;
  width: 250px;
  padding: 6px 15px 6px 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  outline: none;
}
#searchbar input[type="text"]:focus {
  width: 300px;
  outline: none;
}
/* Media queries */
/* sm and down */
@media (max-width: 768px) {
  .no-padding-sm-down {
    padding: 0px;
  }
  #divNavMenuContainer .navbar-brand,
  #divNavMenuContainer .nav-link {
    padding-left: 16px;
  }
  .searchButton {
    padding: 10px;
  }
}
.inputWatchlist {
  z-index: 2000;
}
.btnAdd {
  padding: 10px;
}
.tableau {
  background-color: transparent;
  padding: 10px;
  padding: .75rem;
}
.tableau:nth-child(odd) {
  background-color: #333;
}
.loader_page {
  position: absolute;
  top: 0;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: 3.05s ease 0s normal forwards 1 fadein;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #355db3;
  text-decoration: none;
  background-color: #f6f6f6;
  border: 1px solid #cfcfcf;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #355db3;
  border-color: #355db3;
}
.pagination_bottom {
  text-align: center;
}
@keyframes fadein {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    -webkit-filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(2);
    z-index: -1;
    -webkit-filter: blur(50px);
  }
}
svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#divError {
  color: red;
  text-align: center;
}
.loader_um_logo {
  stroke-dasharray: 34000;
  stroke-dashoffset: 34000;
  animation: dash 3s;
}
@keyframes dash {
  from {
    stroke-dashoffset: 34000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.loader_dot_logo {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash2 3s;
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.loader_clapperContainer {
  stroke-dasharray: 60000;
  stroke-dashoffset: 60000;
  animation: dash3 3s;
}
@keyframes dash3 {
  from {
    stroke-dashoffset: 60000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.loader_dash1 {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash4 3s;
}
@keyframes dash4 {
  from {
    stroke-dashoffset: 4000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.loader_dash2 {
  stroke-dasharray: 30000;
  stroke-dashoffset: 30000;
  animation: dash5 3s;
}
@keyframes dash5 {
  from {
    stroke-dashoffset: 30000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.flex_carousel {
  padding-right: 200px;
  padding-left: 100px;
  padding-top: 64px;
  padding-bottom: 114px;
}
.full-width {
  margin-right: 100px;
  display: flex;
  justify-content: center;
}
#divCarousselPromo .full-width div {
  align-self: center;
  padding: 50px;
  z-index: 3000;
  overflow: hidden;
}
.full-width.currentImg {
  position: relative;
}
.full-width.currentImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 95%, rgba(0, 0, 0, 0.7) 100%);
}
.full-width button {
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 1px solid rgba(236, 238, 239, 0.34);
  padding: 10px 30px;
}
.full-width h1 {
  font-size: 5em;
  font-weight: 600;
  margin: 0;
}
.full-width p {
  max-width: 800px;
  overflow: hidden;
}
.flipToTop_carousel {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  transition: transform 0.3s ease-in;
}
.moviePictureActor {
  height: 135px;
  width: 90px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.moviePictureActorHolder {
  flex: 1;
  padding: 8px;
  width: inherit;
}
.moviePictureActor:hover {
  cursor: pointer;
  box-shadow: 0px 16px 32px 4px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
}
.modal-dialog.modal-small-dialog {
  height: 350px;
}
.userRowContainer,
.userWatchListContainer,
.movieRowContainer {
  max-height: 250px;
  overflow: auto;
  margin: 2px;
}
.userRow,
.watchlistRow,
.movieRow {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 15px;
  padding: 2px;
  margin-top: 2px;
}
.profilePictureSlideMenu {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.profilePictureSlideMenu.profil {
  height: 90px;
  width: 90px;
}
.profilePictureHolder {
  margin: 8px;
}
.next_img,
.prev_img {
  filter: brightness(40%) grayscale(50%);
  transition: transform 0.3s ease-out;
  animation: glowOut 0.3s;
}
.next_img.next_img_hover {
  filter: brightness(60%) grayscale(30%);
  -webkit-transform: translate(-10px, 0);
  -moz-transform: translate(-10px, 0);
  -ms-transform: translate(-10px, 0);
  -o-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
  transition: transform 0.3s ease-out;
  animation: glow 0.3s;
}
.prev_img.prev_img_hover {
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  transform: translate(10px, 0);
  filter: brightness(60%) grayscale(30%);
  transition: transform 0.3s ease-out;
  animation: glow 0.3s;
}
@keyframes glow {
  0% {
    filter: brightness(40%) grayscale(50%);
  }
  100% {
    filter: brightness(60%) grayscale(30%);
  }
}
@keyframes glowOut {
  0% {
    filter: brightness(60%) grayscale(30%);
  }
  100% {
    filter: brightness(40%) grayscale(50%);
  }
}
#divCarousselPromo {
  cursor: -webkit-grab;
}
#nextImg_btn {
  width: 90px;
  position: absolute;
  right: 0;
}
#nextImg_btn:hover {
  cursor: pointer;
}
#prevImg_btn {
  width: 90px;
  position: absolute;
  left: 0;
}
#prevImg_btn:hover {
  cursor: pointer;
}
#current_img {
  position: absolute;
  margin: 0 100px 0 100px;
  z-index: -1;
}
.currentImg {
  filter: brightness(80%);
}
.descriptionText {
  margin: 0px 10px 10px;
  width: 100%;
}
.description {
  flex: 1;
}
.preview {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
.watchlistContent {
  padding: 10px;
}
.pictureDescription {
  display: flex;
  width: 100%;
  padding: 20px;
}
.actorMovies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.framePreview {
  width: 100%;
  display: block;
  margin: auto;
}
.seasonSerie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px 10% 10px;
  border: none;
}
.card-block,
.descriptionHead,
.descriptionText {
  padding: 0;
  margin: 0;
}
.moviePicture {
  float: left;
  margin-right: 30px;
  max-height: 500px;
  max-width: 330px;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
  border-radius: 4px;
}
.btnDetail:hover {
  box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.1s linear;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.75);
}
.descriptionActor {
  margin-left: 10px;
  width: 70%;
}
.actorPictureDescription {
  display: flex;
  flex-direction: row;
}
.marginLogo {
  margin-right: 32px;
}
@media screen and (max-height: 350px) {
  .moviePictureActor {
    height: 90px;
    width: 60px;
  }
}
@media screen and (min-height: 350px) and (max-height: 400px) {
  .moviePictureActor {
    height: 113px;
    width: 75px;
  }
}
@media screen and (max-height: 750px) {
  .full-width p {
    font-size: small;
  }
  .userRowContainer,
  .userWatchListContainer {
    max-height: 150px;
  }
}
@media screen and (max-width: 760px) {
  .moviePicture {
    float: none;
    display: inline-block;
    padding: 0;
  }
  .description {
    margin-top: 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 760px) {
  .card {
    width: 390px !important;
  }
}
@media screen and (max-width: 400px) {
  .card {
    width: 90% !important;
  }
}
@media screen and (max-width: 880px) {
  .flex_carousel {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 64px;
    padding-bottom: 114px;
  }
  .full-width {
    margin-right: 0px;
    margin-left: 0px !important;
  }
  #current_img {
    margin: 0;
  }
  #nextImg_btn {
    display: none;
  }
  #prevImg_btn {
    display: none;
  }
  .full-width p {
    max-height: 240px;
  }
  .full-width h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 940px) {
  .card {
    width: 752px;
    margin: 5px auto 10px auto;
  }
}
@media screen and (max-width: 1100px) {
  .actorPictureDescription {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1300px) {
  .actorPictureDescription {
    display: flex;
    flex-direction: column;
  }
}
.overflow-auto-x {
  overflow-x: auto;
}
.episodePreviewDiv {
  color: black;
  background-color: black;
  min-height: 200px;
  overflow: hidden;
  z-index: 1;
}
.modal-dialog {
  height: 80vh;
  position: relative;
}
.modal-body {
  position: relative;
  color: black;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  clip-path: inset(1px 0px 1px 0px);
}
.modal-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/textureBackground.svg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
.modal-content {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  color: white;
  flex-direction: column;
  display: flex;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.54);
  border-radius: 20px;
}
.modal-header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ffffff;
}
.modal-footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.35);
}
.flex-wrap {
  flex-wrap: wrap;
}
/**
.normalAddWatchList_btn{
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 50px;
  white-space: nowrap;
}

.mediumAddWatchList_btn{
  width : 30%;
  font-size: 3.3vw;
  right: 0px;
}

.smallAddWatchList_btn{
  width : 120px;
}
**/
input.form-control.error {
  border-bottom: 1px solid red;
}
input.form-control:focus {
  color: black;
}
.descriptionEpisode {
  color: white;
  height: calc(55%);
  text-align: justify;
}
input[type=text],
input[type=password] {
  display: block;
  border: 1px solid darkslategrey;
  box-sizing: border-box;
  color: black;
}
.inputSign,
.inputWelcome {
  display: block;
  width: 200px;
  padding: 12px 20px;
  margin: auto;
  border: 1px solid darkslategrey;
  box-sizing: border-box;
  color: black;
}
label {
  display: block;
  text-align: center;
  font-weight: bold;
}
.buttonLogin,
.buttonSignin {
  display: block;
  background-color: #355db3;
  color: white;
  margin: auto;
  padding: 14px 20px;
  border: none;
  width: 200px;
}
.buttonLogin,
.buttonSignin:hover {
  opacity: 0.8;
  cursor: pointer;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 180px;
}
.seasonPicture {
  background-position: center center;
  background-size: cover;
  align-self: stretch;
}
.seasonPicture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.62) 31%, #ffffff 50%, #ffffff);
}
.serieEpisode:hover {
  cursor: pointer;
}
.serieEpisode span:hover {
  color: #355db3;
  text-shadow: 0 0px 1px rgba(2, 117, 217, 0.39);
}
.videoEpisode {
  width: 400px;
  display: block;
  margin: auto;
}
.videoEpisodeResponsive {
  width: 100%;
  padding: 0 20px;
}
.signInDiv {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.searchContainerFilter {
  top: 117px !important;
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 70vw;
}
#searchContainerDiv {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: 100%;
  width: 100%;
}
.coverImageFilter {
  height: 200px;
  min-width: 140px;
  max-width: 140px;
  border-radius: 4px;
}
