/* Utilities */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-size {
  width: 100%;
  height: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
.right {
  float: right;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center-items {
  align-items: center;
}
.flex-center-content {
  justify-content: center;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
.hidden {
  display: none;
}
/* TEXT COLOR AND TRANSFORM */
.yellow-text {
  color: #fead00;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.big-text {
  font-size: 26px;
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.card {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  background-color: transparent;
  padding: 10px;
  margin: .75rem 0;
}
.profilePicture {
  height: 90px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../img/backgroundSushi.jpg');
}
