<div id="divPromo" class="text-xs-center flex flex-column full-height">
    <div class="flex flex_carousel" style="flex-grow: 1;">
        <div id="divCarousselPromo" style="align-self: stretch;">
            <div class="full-width prev_img" style="margin-left:100px; overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width prev_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div id = "first_img" class="full-width currentImg" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div id = "last_img" class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
            <div class="full-width next_img" style="margin-right:0px; overflow: hidden;">
                <div>
                    <h1></h1>
                    <p></p>
                    <button class="btnDetail"> See details </button>
                </div>
            </div>
        </div>
        <div id="current_img"></div>
        <div id="nextImg_btn"></div>
        <div id="prevImg_btn"></div>
    </div>
</div>
<div id="divIntroDashboard" style="height: 100%; padding-bottom: 64px; padding-top: 64px; overflow: hidden; clip-path: inset(1px 0px 0px 0px); display:none">
    <div class="container-fluid" style="height: 100%">
        <div class="row introDashboard" style="height: 100%; overflow: hidden; clip-path: inset(1px 0px 1px 0px);">
            <div class="card" style="height: 100%; border:none"></div>
            </div>
        </div>
    </div>
</div>

