<div class = "signInDiv">
<div class="imgcontainer">
    <img src="img/logo.png" class="avatar">
</div>

<div class="container" id="signUp">
    <div id="divError"></div>
    <label>Name</label>
    <input class="inputSign" id="name" type="text" placeholder="Enter your name" name="name" required>
    <br/>
    <label>Email</label>
    <input class="inputSign" id="email" type="text" placeholder="Enter Email" name="email" required>
    <br/>
    <label>Password</label>
    <input class="inputSign" id="password" type="password" placeholder="Enter Password" name="psw" required>
    <br/>
    <label>Confirm password</label>
    <input class="inputSign" id="confirmPassword" type="password" placeholder="Confirm Password" name="cPsw" required>
    <br/>
    <button class="buttonSignin" id="btnSignUp">Sign Up</button>
    <a href="#signIn"><label>Already a member? Sign in here!</label></a>
</div>
</div>
