<li>
    <div class="btnGoToPage" data-trackId="<%= info.id%>" data-trackType="<%= info.typeResult%>" style="padding: 6px; width: 100%; display: inline-flex;line-height: 65px;">
        <img src="<%= info.coverResult%>" data-trackId="<%= info.id%>" data-trackType="<%= info.typeResult%>" style="height: 67px; width: 50px; margin-right: 20px;">
        <div>
            <p data-trackId="<%= info.id%>" data-trackType="<%= info.typeResult%>"><%= info.nameResult%></p>
        </div>
        <p data-trackId="<%= info.id%>" data-trackType="<%= info.typeResult%>" style="margin: 0; position: absolute; right: 30px;">
            <span data-trackId="<%= info.id%>" data-trackType="<%= info.typeResult%>" style="border-radius: 5px; padding: 6px 10px; font-size: 0.7em; line-height: 0.7em; font-weight: 600; text-transform: uppercase; border: 1px solid #0158fd; margin-left: 10px;"><%= info.typeResult%></span>
        </p>
    </div>
</li>
