<div class="signInDiv">
    <div class="imgcontainer">
        <img src="img/logo.png" class="avatar">
    </div>

    <div class="container" id="login">
        <div id="divError"></div>
        <label>Email</label>
        <input class="inputWelcome" id="email" type="text" placeholder="Enter Email" name="email" required>
        <br/>
        <label>Password</label>
        <input class="inputWelcome" id="password" type="password" placeholder="Enter Password" name="psw" required>
        <br/>
        <button  class="buttonLogin" id="btnConnect" type="submit">Login</button>
        <a href="#signUp"><label>Not a member? Sign up here!</label></a>
    </div>
</div>